{% extends "base.html" %}
{% block pagetitle %}{% endblock pagetitle %}
{% block job_details %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <img class="img-fluid" src="https://picsum.photos/1920/200" alt="">
            </div>
        </div>
    </div>
    <!-- job details  -->
     <div class="container p-2">
        <div class="row">
            <div class="col-sm-10 g-1">
                <div class="card">
                    <div class="card-header fw-bold text-danger"><h2><i class="bi bi-megaphone-fill"></i>&nbsp;National Capital Region Transport Corporation NCRTC Various Post Recruitment 2025 Apply Online for 72 Post</h2></div>
                    <div class="card-body p-1">
                        <div class="d-flex">
                            <div class="p-2 flex-fill fw-bold text-danger">Advt No. :</div>
                            <div class="p-2 flex-fill border-end">O&M-13/2025</div>
                            <div class="p-2 flex-fill fw-bold text-danger">Post Date / Update:</div>
                            <div class="p-2 flex-fill">DD/MM/YY</div>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <div class="p-2 flex-fill fw-bold text-danger">Short Information :</div>
                            <div class="p-2 flex-fill">
                                <p class="text-justify" >National Capital Region Transport Corporation NCRTC has released the Recruitment Junior Engineer, Junior Maintainer and other Post Notification. Those candidates who are interested in this NCRTC Various Post Recruitment 2025 Exam can Apply Online from 24 March 2025 to 24 April 2025. Read the notification for NCRTC 2025 Exam, eligibility, Post Details information, Document Required, age limit, How to Apply and all other information.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <div class="p-2 flex-fill text-center border-end">
                                <h6 class="text-danger fw-bold">Important Dates</h6>
                                <ul class="text-start">
                                    <li>Application Begin : 24/03/2025</li>
                                    <li>Last Date for Apply Online : 24/04/2025</li>
                                    <li>Pay Exam Fee Last Date : 24/04/2025</li>
                                    <li>Exam Date : May 2025</li>
                                    <li>Admit Card Available : Before Exam</li>
                                </ul>
                            </div>
                            <div class="p-2 flex-fill text-center">
                                <h6 class="text-danger fw-bold">Application Fee</h6>
                                <ul class="text-start">
                                    <li>Application Begin : 24/03/2025</li>
                                    <li>Last Date for Apply Online : 24/04/2025</li>
                                    <li>Pay Exam Fee Last Date : 24/04/2025</li>
                                    <li>Exam Date : May 2025</li>
                                    <li>Admit Card Available : Before Exam</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    <!-- job details  -->
</section>
{% endblock job_details %}