{% extends "base.html" %}
{% block pagetitle %}Latest Jobs{% endblock pagetitle %}
{% block latestjobs %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <img class="img-fluid" src="https://picsum.photos/1920/200" alt="">
            </div>
        </div>
    </div>
    <div class="container p-2">
        <div class="row g-2">
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-header text-center fw-bold display-6">Latest Jobs</div>
                    <div class="card-body p-1">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="bi bi-arrow-right-circle-fill"></i> An item</li>
                            <li class="list-group-item"><i class="bi bi-arrow-right-circle-fill"></i> A second item</li>
                            <li class="list-group-item"><i class="bi bi-arrow-right-circle-fill"></i> A third item</li>
                            <li class="list-group-item"><i class="bi bi-arrow-right-circle-fill"></i> A fourth item</li>
                            <li class="list-group-item"><i class="bi bi-arrow-right-circle-fill"></i> And a fifth one</li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header">Advertisement</div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock latestjobs %}